// Footer
#footer {
	padding: 1rem 0;
	background: $secondary-color;
	font-size: 1rem;
	text-align: center;

	& p {
		color: $tertiary-color;
	}

	@include respond-to-width(1024px) {
		display: none;
	}
}
