#resume {
	@include respond-to-width(1024px) {
		z-index: 1;
		border-radius: $border-radius-primary;
		box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.5);
		width: 35%;
		height: 75%;
		background: $secondary-color;
		overflow: auto;
	}
	@include respond-to-height(800px) {
		height: 69%;
	}
	@include respond-to-height(1200px) {
		height: 59%;
	}
	@include respond-to-height(1500px) {
		height: 65%;
	}
}
