// Buttons
.btn {
	border: 0;
	border-radius: $border-radius-primary;
	display: block;
	margin: 2rem auto;
	padding: 1rem;
	background: $tertiary-color;
	color: $secondary-color;
	font-size: 1rem;
	font-weight: 600;

	&:hover,
	&:focus {
		background: $tertiary-color-brighter;
		cursor: pointer;
	}
}
