// Base - global styles
* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	background: $primary-color;
	color: $text-primary-color;

	@include respond-to-width(1600px) {
		font-size: 120%;
	}

	@include respond-to-w-and-h(2200px, 1200px) {
		font-size: 150%;
	}

	@include respond-to-height(2000px) {
		font-size: 250%;
	}
}

body {
	@include respond-to-width(1024px) {
		@include flex-row-center;
		height: 100vh;
	}
}

ul,
li {
	list-style: none;
}

a {
	color: $text-primary-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $tertiary-color;
		text-decoration: underline;
	}
}

img {
	display: block;
}

.hidden-visually {
	@include hidden-visually;
}
